html {
    box-sizing: border-box;
    interpolate-size: allow-keywords;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

*,
*::before,
*::after {
    border: 0 none;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
 }

html {
    scroll-padding-top: 5em;
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

body {
    background-color: var(--aft);
    background: linear-gradient(135deg, var(--aft-g1) 0%, var(--aft-g2) 80%);
    background-attachment: fixed;
    color: var(--fore);
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.016em;
    font-family: var(--content-font);
}

a, summary {
    color: var(--fore-link);
    text-decoration: underline;
    cursor: pointer;
    border-radius: var(--block-radius);

    @media (prefers-reduced-motion: no-preference) {
        transition: all 200ms ease-in-out;
    }
    
}

details {
    overflow: hidden;
}

details::details-content {
    block-size: 0;
    
    @media (prefers-reduced-motion: no-preference) {
        transition-property: block-size, content-visibility;
        transition-duration: .3s;
        transition-behavior: allow-discrete;
    }
}

details[open]::details-content {
    block-size: auto;
}

form {
    fill: var(--link-head);
}

input {
    color: var(--fore-input);
    background-color: var(--aft-input);
}

input::placeholder {
    color: var(--fore-input);
    opacity: 0.8;
  }
  

summary {
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--fore-link-alt);
}

nav a:hover,
nav a:focus,
nav summary:hover,
nav summary:focus {
    color: var(--fore-link-alt);
    background-color: var(--aft-link-alt);
}

.input-keyboard :focus {
    outline: 2px dashed var(--fore-link-alt);
    border-radius: 5px;
}

blockquote {
    color: var(--fore-block);
    background-color: var(--aft-block);
    font-size: 1.3rem;
    font-style: italic;
    padding: 0.1px 1.2em;
    position: relative;
    box-shadow: var(--box-shadow);
    margin: var(--paragraph-margin) 0;
    border-radius: var(--block-radius);
}

blockquote::after {
    content: '“';
    color: var(--icon-block);
    font-size: 5em;
    position: absolute;
    font-family: var(--heading-font);
    transform: translate(-50%, -50%);
    top: 3.4rem;
}

blockquote > *,
blockquote > p {
    margin-inline-start: 2em;
}

blockquote cite {
    font-style: initial;
    font-weight: bold;
    display: block;
    margin-top: var(--margin-size);
    text-align: right;
}

blockquote cite::before {
    content: ' ―';
    padding-right: 0.5em;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--grid-gap);
}

dt {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    margin: var(--block-gap) 0 var(--paragraph-margin) 0;
    color: var(--fore-headings);
    line-height: 1;
    letter-spacing: -0.03em;
    text-wrap: balance;
}

h1 {
    font-size: 3em;
    max-width: 15em;
    margin: 1em auto 0.5em;
    line-height: 1.3;
    color: var(--heading);
    border-bottom: 8px solid var(--icon-block);
    text-align: center;

    @media (max-width: 860px) {
        font-size: 2.3em;
    }
}

.page-content > h2, .page-content > h3, .page-content > h4, .page-content > h5, .page-content > h6 {
    border-bottom: 1px solid var(--icon-block);
}

h2 {
    font-size: 2.3em;

    @media (max-width: 860px) {
        font-size: 2em;
    }
}

h3 {
    font-size: 2em;

    @media (max-width: 860px) {
        font-size: 1.6em;
    }
}

h4, h5, h6 {
    font-size: 1.7em;

    @media (max-width: 860px) {
        font-size: 1.3em;
    }
}

hr {
    border: 0.5px dashed var(--fore);
    opacity: 0.5;
    width: 80%;
    margin: var(--paragraph-margin) auto;
}

figure {
    background-color: var(--aft-block);
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

figure > p {
    margin: 0;
}

figcaption {
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
}

img {
    max-width: 100%;
    background-color: var(--aft-image);
}

img.resp-img {
    width: 100%;
    height: auto;
}

figure img {
    border-radius: var(--block-radius);
    border: 1px solid var(--fore-breadcrumb);
}

li::marker {
    color: var(--fore-headings);
}

.page-content ul, .page-content ol {
    margin: var(--paragraph-margin) 0 var(--paragraph-margin) 1.2rem;
}

.page-content ul.post-list, .page-content ol.post-list {
    margin: var(--paragraph-margin) auto;
}

p {
    margin: var(--paragraph-margin) 0;
}

small {
    font-size: 0.8em;
}

strong {
    font-weight: bold;
}

.table-wrap {
    max-width: 100%;
    overflow: auto;
}

table {
    border-collapse: collapse;
    border: 0.5px solid var(--fore);
    width: 100%;
    border-radius: var(--block-radius);
}

thead tr {
    background-color: var(--aft-table-head);
    color: var(--fore-table-head);
}

th, td {
    border: 0.5px solid var(--fore);
    padding: 0.2em 0.3em;
}

tbody tr {
    background-color: var(--aft-table-row-even);
    color: var(--fore-table-row-even);
}

tbody tr:nth-child(odd) {
    background-color: var(--aft-table-row-odd);
    color: var(--fore-table-row-odd);
}

/* Skip Links */

nav.skip-links {
    position: absolute;
}

nav.skip-links a {
    clip: rect(0 0 0 0);
    background-color: var(--aft);
    min-width: 20vw;
    overflow: hidden;
    padding: 1rem;
    position: absolute;
    z-index: 15;
    text-align: center;
    display: inline-block;
    height: 1px;
    margin: -1px;
    width: 1px;
}

nav.skip-links a:focus {
    clip: auto;
    height: auto;
    margin: 0.2em;
    overflow: visible;
    width: auto;
}

 /* Breadcrumbs */

 .site-breadcrumbs ol {
    font-size: 0.8rem;
    background-color: var(--aft-breadcrumb);
    color: var(--fore-breadcrumb);
    padding: 0.1em 1em;
    text-align: center;
}

.site-breadcrumbs li {
    display: inline;
    padding: 0.2em;
}

.site-breadcrumbs li::before {
    content: '>';
    margin-inline-end: 0.3rem;
}

.site-breadcrumbs li:first-child::before {
    content: '';
    margin-inline-end: 0;
}

.site-breadcrumbs a[aria-current] {
    color: var(--fore);
    text-decoration: none;
}

/* Header */
.site-header {
    color: var(--fore-head);
    background-color: var(--aft-head);
    background: linear-gradient(135deg, var(--aft-head-g1) 0%, var(--aft-head-g2) 80%);
    text-align: center;
    font-size: 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
    gap: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1em;

    @media (max-width: 930px) {
        gap: 0;
        justify-content: space-between;
    }
}

a.site-title,
a.navigation-icon,
a.site-search-mobile {
    color: var(--link-head);
    text-decoration: none;
    align-self: center;
    height: 40px;
    padding: 0.4rem 0;
}

a.site-title:hover,
a.site-title:focus,
a.navigation-icon:hover,
a.navigation-icon:focus,
a.site-search-mobile:hover,
a.site-search-mobile:focus {
    color: var(--link-alt-head);
    background-color: unset;
}

.site-header .site-title {
    letter-spacing: -0.03em;
    font-family: var(--heading-font);
    line-height: 1.3;
    flex-shrink: 0;
}

.site-header .navigation-icon {
    --icon-width: 40px;
    stroke: var(--link-head);
    width: var(--icon-width);
    height: var(--icon-width);
}

.site-header .site-search-mobile {
    --icon-width: 40px;
    fill: var(--link-head);
    width: var(--icon-width);
    height: var(--icon-width);
}

.site-header .navigation-icon:hover,
.site-header .navigation-icon:focus {
    stroke: var(--link-alt-head);
}

.site-header .site-search-mobile:hover,
.site-header .site-search-mobile:focus {
    fill: var(--link-alt-head);
}

/* Navigation */

nav.site-nav.sticky {
    align-self: start;
    position: sticky;
}

nav.site-nav h2 {
    margin-top: 0.1em;
    display: block;
}

.site-nav {
    font-size: 0.9rem;
}

.site-nav ul {
    border-top: 1px solid var(--fore-link);
}

.site-nav li {
    list-style: none;
    border-bottom: 1px solid var(--fore-link);
}

.site-nav a {
    text-indent: var(--marker-size);
    width: calc(100% - 2.07rem);
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    padding: 1rem;
}

.site-nav li.has-children summary span {
    text-indent: 0;
    width: calc(100% - 2.07rem - var(--marker-size));
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    padding: 1rem;
}

.site-nav li.has-children ul a {
    width: calc(100% - 2.07rem);
    text-indent: calc(var(--marker-size) * 2);
}

.site-nav a[aria-current] {
    font-weight: bold;
}

.site-nav details summary {
    cursor: pointer;
}

.site-nav details summary::-webkit-details-marker,
.site-nav details summary::marker {
    font-size: var(--marker-size);
    width: 1em;
}

.overlay-menu .site-nav {
    font-size: 1.4em;

    @media (max-width: 860px) {
            font-size: 1em;
    }
}

/* Main content group */

.content-group {
    margin-inline: 1rem;
    display: grid; 
    gap: var(--grid-gap-main);
    justify-content: center;
    max-width: calc(100vw - 2rem);
    padding-top: 0;
    grid-template-columns: minmax(0, 800px);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "toc"
      "content"
      "menu";
}

.content-group > nav {
    padding: 1rem;
}

.content-group header {
    padding-bottom: var(--block-gap);

    @media (max-width: 860px) {
        text-align: left;
    }
}

.content-group header p {
    font-size: 2em;
    color: var(--fore-headings);
}

.content-group > nav {
    grid-area: menu;
    padding: 5rem 1rem 1rem 1rem;
}

.page-content {
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--aft-paper);
    padding: 2rem;
}

.page-content > h2:nth-child(1) {
    margin-top: 0;
}

/* Table of Contents (TOC) */

.page-toc {
    background-color: var(--aft-block);
    border-radius: 0.5rem 0.5rem 0 0;
    margin: var(--margin-size-negative) var(--margin-size-negative) var(--margin-size) var(--margin-size-negative);
}

.page-toc details {
    border-radius: 0.5rem 0.5rem 0 0;
}

.page-toc summary {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.page-toc ol {
    list-style: none;
    padding-bottom: var(--block-gap);
    margin: var(--margin-size);
}

.page-toc li a {
    display: block;
    padding: 0.5rem 1rem;
}

.page-toc li.toc-lev-2 {
    margin-left: 0rem;
}

.page-toc li.toc-lev-3 a {
    margin-left: 1rem;
}

.page-toc li.toc-lev-4 a {
    margin-left: 2rem;
}

.page-toc li.toc-lev-5 a {
    margin-left: 3rem;
}

.page-toc li.toc-lev-6 a {
    margin-left: 4rem;
}

/* Footer */

.site-footer {
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
    color: var(--fore-head);
    background-color: var(--aft-head);
    background: linear-gradient(135deg, var(--aft-head-g1) 0%, var(--aft-head-g2) 80%);
    margin-top: 4rem;
}

.site-footer h2 {
    color: var(--fore-head);
}

.site-footer a {
    color: var(--link-head);
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}

.site-footer a:hover,
.site-footer a:focus {
    background-color: var(--aft-link-alt);
    color: var(--fore-link-alt);
}

/* Overlay (Mobile Navigation, Search) */

.overlay {
    position: fixed;
    top: 0;
    width: calc(100% - 2em);
    height: calc(100% - 7rem);
    max-height: 100vh;
    background-color: var(--aft);
    padding : 5rem 1em 2rem 1em;
    overflow-y: auto;
    z-index: 1;
}

.overlay > * {
    max-width: 40rem;
    margin: 0 auto;
}

/* Site Search */

.site-search-wrapper {
    position: relative;
    width: 100%;
    max-width: 20rem;
    transition: max-width var(--search-dropdown-duration) ease-in-out;
    font-size: 1.3rem;
}

.site-search-wrapper.is-active {
    max-width: 40rem;
}

.site-search {
    height: var(--search-height);
    background-color: var(--aft-paper);
    border-radius: var(--block-radius-round);
    position: relative;
    z-index: 1
}

.site-search-results {
    background-color: var(--aft-paper);
    border-radius: var(--block-radius-round);
    position: absolute;
    top: var(--search-height);
    width: 130%;
    padding: 0;
    list-style-type: none;
    /* overflow-y: scroll; */
    transition-property:  padding, transform, visibility;
    transition-duration: var(--search-dropdown-duration);
    transition-timing-function: ease-in-out;
    visibility: hidden;
    transform: translateY(0) scaleY(0);
    z-index: 1;
    transform-origin: top;
    will-change: transform;
    margin-inline-start: -15%;
}

.site-search.is-active+.site-search-results {
    padding: 1rem 0;
    transform: translateY(1.37rem) scaleY(1);
    visibility: visible;
}

.site-search-results ul {
    list-style-type: none;
    margin-inline-start: 0;
}

.site-search-results ul:not(.post-list):not(.result-headings) {
    margin: 0;
    max-height: var(--search-dropdown-height);
    overflow-y: scroll;
}

.site-search-results .show-more {
    border-radius: 4.0625rem;
    background: var(--fore-link);
    color: var(--aft-paper);
    padding: 0.5rem 0.75rem;
    display: block;
    margin: 1rem auto 0;
    cursor: pointer;
}

.site-search-overlay {
    opacity: 0;
    visibility: hidden;
    background: rgba(12, 26, 36, 0.30);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity var(--search-dropdown-duration) ease-in-out;
    z-index: 1;
}

.site-search-wrapper.is-active .site-search-overlay {
    opacity: 1;
    visibility: visible;
}

.site-search-query {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    width: calc(100% - 2rem);
}

.search-results-heading {
    visibility: hidden;
}

.site-search.is-active+.site-search-results>.search-results-heading {
    visibility: visible;
}

.site-search-results-item {
    background-color: transparent;
    transition-property: background-color, border-color;
    transition-duration: var(--search-dropdown-duration);
    transition-timing-function: ease-in-out;
    border-bottom: 0.0625rem solid;
    border-color: var(--aft-breadcrumb);
    position: relative;

    @media (max-width: 930px) {
        padding: 1rem;
    }
}

.site-search-results-item:hover, .site-search-results-item:focus-within {
    --hover-color: rgba(13, 128, 216, 0.07);
    background-color: var(--aft-breadcrumb);
    border-color: var(--aft-breadcrumb);
}

.site-search-results-item::after {
    content: "";
    display: inline-block;
    width: 0.75rem;
    height: 1.25rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='20' viewBox='0 0 12 20' fill='none'%3E%3Cpath d='M2 18L10 10L2 2' stroke='%233399ff' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: 0.75rem 1.25rem;
    background-repeat: no-repeat;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%) translateX(-1rem);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: var(--search-dropdown-duration);
    transition-timing-function: ease-in-out;
}

.site-search-results-item:hover::after {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
}

.result-wrapper {
    display: flex;
    padding: 1.5rem 3.6rem 1.75rem;
    text-decoration: none;
    flex-direction: column;
    gap: 0.56rem;
    text-align: start;

    @media (max-width: 930px) {
        padding: 1rem;
    }
}

.site-search-results-item mark {
    background: none;
    text-decoration: underline;
    color: var(--fore-head);
}

.result-path {
    font-size: 0.6em;
    font-weight: 400;
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
    color: var(--fore-breadcrumb);
}

.result-path-icon {
    stroke: var(--fore-breadcrumb);
}

.result-path-segment:last-child {
    display: none;
}

.result-title {
    font-size: 1em;
    font-weight: 700;
}

.result-description {
    color: var(--fore);
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
}

.site-search>fieldset {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.site-search-remove {
    margin-left: auto;
    background-color: transparent;
    padding: 0.5rem;
    cursor: pointer;
    visibility: hidden;
    transition: transform var(--search-dropdown-duration) ease-in-out;
}

.site-search-remove:hover {
    transform: scale(1.2);
}

.site-search.is-active .site-search-remove {
    visibility: visible;
}

.site-search-mobile {
    display: none;
}

@media (max-width: 930px) {
    .site-header .site-search-wrapper {
        max-width: fit-content;
    }

    .site-header .site-search {
        display: none;
    }

    .site-header .site-search-mobile {
        --search-mobile-size: 40px;
        display: flex;
        width: var(--search-mobile-size);
        height: var(--search-mobile-size);
        justify-content: center;
        align-items: center;
    }
}

.site-search .show-more {
    display: inline-block;
    font-size: var(--font-size-small);
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    padding: 0.2em 0.6em 0.3em 0.6em;
    color: var(--color-hint);
    background-color: var(--bg-color-hint);
}

.result-headings {
    padding: 0 3.5rem;
    text-align: left;
    font-size: 0.8em;
}

.result-headings li {
    display: none;
    margin-bottom: 0.5rem;
}

.result-headings li:nth-child(-n+3) {
    display: block;
}

.result-headings:has(li:nth-child(n+4))::after {
    content: 'See more >';
    color: var(--fore-link);
    text-decoration: underline;
  }

.result-headings:focus-within li {
    display: block;
}

.result-headings:focus-within::after {
    display: none;
}

.show-more {
    padding: 0.5em 1em;
    background-color: var(--fore-link);
    color: var(--aft-link-alt);
}

/* Search dialog */

.search-dialog {
    margin: 5rem auto 0 auto;
    padding: 2rem 3rem;
    border-radius: var(--block-radius);
    box-shadow: var(--box-shadow);
    height: calc(70vh - 4em);
    width: calc(80vw - 6em);
    max-width: 860px;

    @media (max-width: 860px) {
        margin: 0;
        /* Fallback */
        height: calc(100vh - 4rem);
        width: calc(100vw - 6rem);
        /* Ideal units */
        height: calc(100dvh - 4rem);
        width: calc(100dvw - 6rem);
    }
}

.search-dialog::backdrop {
    background-color: #000;
    opacity: 0.5;
}

.search-dialog form {
    margin-top: 2rem;
}

#site-search-close {
    float: right;
    position: relative;
    top: -1rem;
    left: 2.5rem;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    stroke: var(--icon-block);
}

/* Articles */

.post-list {
    margin: 0;
}

.post-list .list-item {
    list-style: none;
    color: var(--fore-block);
    background-color: var(--aft-block);
    position: relative;
    box-shadow: var(--box-shadow-unselected);
    margin-bottom: var(--block-gap);
}

.post-list .list-item:hover,
.post-list .list-item:focus-within {
    box-shadow: var(--box-shadow);
    transform: var(--transform-selected);
}

.post-list .list-item[data-image='true'] > article {
    display: grid;
    grid-template-columns: 1fr 2fr;

    @media (max-width: 680px) {
        /* Special Case - We let it be two-column until later */
        display: unset;
        grid-template-columns: unset;
    }
}

.post-list .list-item-content {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto fit-content(5rem);
    grid-gap: 1rem;
}

.post-list .list-item-content .post-meta {
    font-size: 0.8rem;
    text-align: left;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
}

.post-list .list-item-content h2,
.post-list .list-item-content h3 {
    margin: 0;
    padding: 0;
}

.post-list .list-item-content h2 a,
.post-list .list-item-content h3 a {
    text-decoration: none;
}

.post-list .list-item[data-image='true'] .list-item-image {
    background-color: var(--aft-head);
    padding: 1.5rem;
}

.post-list .list-item .list-item-image img {
    width: 100%;
    min-height: 100%;
    max-height: 8em;
    object-fit: cover;
    filter: grayscale(1);
    box-shadow: var(--box-shadow);
    transform: rotate(-3deg);
    border-radius: var(--block-radius);

    @media (max-width: 680px) {
        filter: grayscale(calc(1 - var(--imgshown)));
        scale: calc(1 + (0.2 * var(--imgshown)));
        transform: rotate(3deg)
    }
}

.post-list .list-item:hover .list-item-image,
.post-list .list-item:focus-within .list-item-image {
    background-color: var(--icon-block);
}

.post-list .list-item:hover .list-item-image img,
.post-list .list-item:focus-within .list-item-image img {
    filter: grayscale(0);
    transform: rotate(3deg);
    scale: 1.2;
}

.recent-updates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin-inline: 0;
    padding-inline: 0;
    gap: 2rem;

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
    }
}

.recent-updates li {
    margin-block-end: 1em;
}

.recent-updates time {
    display: block;
}

/* Paging */

.post-paging {
    margin-top: var(--block-gap);
    text-align: center;
}

.post-paging > * {
    display: inline-block;
    padding: 0.3rem;
}

.post-paging a[aria-current] {
    text-decoration: none;
    color: var(--fore);
}

.paging-collapse-before:before,
.paging-collapse-after:after {
    top: 0.2em;
    content: '...';
    text-decoration: none;
    color: var(--fore);
    display: inline-block;
    position: relative;
}

.paging-collapse-before:before {
    padding-right: 0.6rem;
}

.paging-collapse-after:after {
    padding-left: 0.6rem;
}

.post-meta {
    display: flex;
    margin: var(--margin-size) var(--margin-size-negative);
    padding: 1rem;
    background-color: var(--aft-block);

    @media (max-width: 860px) {
        display: block;
    }
}

.post-meta .author-image {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    object-fit: cover;
    border-radius: 50%;

    @media (max-width: 860px) {
        display: block;
        margin: 0 auto;
    }
}

.post-meta time {
    display: block;
}

.post-meta time[itemprop="datePublished"] {
    display: inline-block;
}

.post-meta time[itemprop="dateModified"] {
    font-style: italic;
    display: block;
}

.post-taxonomy {
    padding: 1rem 0;
    margin: 1.5rem 0;
    border-top: 1px dashed var(--fore);
    text-align: center;
}

.post-taxonomy > div {
    margin: var(--margin-size) 0;
}

.post-taxonomy h2 {
    font-size: 1rem;
    font-family: var(--content-font);
    margin: var(--margin-size) var(--margin-size-negative);
    padding: var(--margin-size);
}

.post-taxonomy ul {
    margin: var(--margin-size) 0;
    list-style: none;
}

.post-taxonomy li {
    display: inline-block;
    margin: 0.3em;
}

.post-taxonomy a {
    display: inline-block;
    color: var(--link-head);
    background-color: var(--aft-head);
    padding: 0.1em 0.7em;
    text-decoration: none;
}

.post-taxonomy a:hover,
.post-taxonomy a:focus {
    background-color: var(--fore-link-alt);
    color: var(--aft);
}

.author-page {
    display: flex;
    gap: var(--grid-gap);
}

.author-page > img {
    align-self: self-start;
}

/* Taxonomy */

.footer-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 22rem));
    justify-content: center;
    gap: var(--block-gap);

    @media (max-width: 680px) {
        display: block;
    }
}

.footer-columns h2 {
    margin: var(--paragraph-margin) auto;
}

.footer-columns ul {
    list-style: none;
    margin: var(--paragraph-margin) 0;
}

/* Video */

.yt-video {
    aspect-ratio: 16/9;
    display: grid;
    grid-template-rows: 1fr auto;
}

.yt-video > * {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.yt-video .play-icon {
    background-position: center;
    background-size: cover;
    border-radius: var(--block-radius);
    box-shadow: var(--box-shadow);
    color: var(--fore-link);
    font-size: 5em;
}

.yt-video:hover .title, .yt-video:focus .title {
    background-color: var(--icon-block);
}

.yt-iframe {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

a[data-youtube] {
    text-decoration: none;
}

/* Code Block */

code {
    background-color: var(--aft-block);
    font-family: var(--code-font);
    font-weight: bold;
    overflow-wrap: break-word;
}

pre.astro-code {
    border-left: 5px solid var(--fore-link-alt);
    border-radius: var(--block-radius);
    font-family: var(--code-font);
    margin: var(--margin-size) auto;
    overflow: auto;
    padding: 1rem;

    @media (max-width: 860px) {
        width: calc(var(--content-width-mobile) - 5px);
        margin: var(--margin-size) var(--margin-size-negative);
    }
}

pre.astro-code code {
    font-weight: unset;
    background-color: unset;
    overflow-wrap: unset;
}

/* Helper icons */

.copy-container {
    max-height: 0px;
    margin: 0;
    width: 100%;
    text-align: right;
    position: relative;
    z-index: 1;
}

.copy-button {
    border-radius: 0.2rem;
    stroke: var(--aft);
    fill: var(--fore-link-alt);
    background-color: transparent;
}

.copy-button:hover,
.copy-button:focus {
    fill: var(--fore-link);
    transform: rotate(4deg);
}

.bookmark-link {
    border-radius: var(--block-radius);
    text-decoration: none;
    color: var(--fore-link);
    display: block;
    opacity: 0.5;
    position: absolute;
    font-size: 0.7em;
}

.bookmark-link::before {
    content: '#';
    margin-left: -0.9em;
}

.bookmark-link:hover,
.bookmark-link:focus {
    background-color: unset;
    opacity: 1;
}

.magnify-container {
    max-height: 0px;
    margin: 0;
    width: 100%;
    text-align: end;
    z-index: 1;
    position: relative;
    top: -1rem;
}

.magnify-icon {
    opacity: 0;
    border-radius: 0.2rem;
    border: 1px solid var(--fore-link);
    color: var(--fore-link);
    line-height: 1;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.input-touch .magnify-icon {
    opacity: 1;
}

.magnify-icon:before {
    content: '↗';
    font-family: var(--unicode-font);
    font-size: 2rem;
    line-height: 2rem;
    top: 0.04em;
    position: relative;
}

figure:hover .magnify-icon,
figure:focus .magnify-icon {
    opacity: 1;
}

.magnify-icon:hover,
.magnify-icon:focus,
.magnify-icon:focus-within {
    stroke: var(--fore-link);
    transform: rotate(4deg);
    opacity: 1;
}

/* Custom Divisions */

.note {
    color: var(--fore-block);
    background-color: var(--aft-block);
    padding: 0.1px 1.2em;
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: var(--block-radius);
    margin: var(--margin-size) auto;
    width: 66%;
}

.book-grid article {
    background-color: var(--aft-g1);
    border-radius: var(--block-radius);
    box-shadow: var(--box-shadow-slight);
    margin-block-end: var(--block-gap);
    padding: 1rem;

    @media (prefers-reduced-motion: no-preference) {
        transition: background-color 0.2s ease;
    }

    display: grid;
    gap: 1rem;
    grid-template-columns: 250px auto;
    grid-template-rows: fit-content(1em) 1fr;
    grid-template-areas:
        "image title"
        "image content";

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "image"
        "content";
    }
}

.book-grid article:hover,
.book-grid article:focus-within {
    box-shadow: var(--box-shadow);
    background-color: var(--aft-g2);
}

.book-grid article > h2 {
    grid-area: title;

    .bookmark-link {
        display: none;
    }
}

.book-grid article > p:has(img) {
    grid-area: image;
}

.book-grid article img {
    background-color: var(--aft-block);
    border-radius: var(--block-radius);

    @media (max-width: 680px) {
        max-height: 300px;
        object-fit: contain;
    }
}

.book-grid article > div {
    grid-area: content;
    justify-self: top;
}

.simple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--margin-size);

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
    }
}

.simple-grid > * > * {
    width: 100%;
}

.inset {
    margin: var(--margin-size) auto;
    width: 66%;
}

.inset-small {
    margin: var(--margin-size) auto;
    width: 66%;
    max-width: 200px;
}

.inset-medium {
    margin: var(--margin-size) auto;
    width: 66%;
    max-width: 400px;
}

@media (max-width: 680px) {
    .note,
    .inset,
    .inset-small,
    .inset-medium {
        width: auto;
        max-width: unset;
        margin: var(--margin-size) var(--margin-size-negative);
    }
}

/* Detail tabs */

.tab-list {
    padding-inline: 10px;
}

.tab-list button,
.tab-list button:focus,
.tab-list button:hover {
    display: inline-block;
    position: relative;
    z-index: 2;
    top: 2px;
    margin: 0;
    margin-top: 4px;
    border: 2px solid var(--aft-block);
    border-radius: var(--block-radius) var(--block-radius) 0 0;
    background: var(--aft-block);
    outline: none;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.tab-list button[aria-selected="true"] {
    margin-top: 0;
    border-width: 2px;
    border-top-width: 6px;
    border-top-color: var(--fore-link);
    border-inline-color: var(--fore-link);
    border-bottom-color: var(--aft);
    background-color: var(--aft);
}

.tab-list button[aria-selected="false"] {
    top: 0px;
}

.tab-list button span.focus {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
    outline: none;
}

[role="tabpanel"] {
    position:relative;
    padding: 1rem;
    border: 2px solid var(--fore-link);
    border-radius: var(--block-radius);
    background: var(--aft);
    min-height: 10em;
    overflow: auto;
}

[role="tabpanel"].is-hidden {
    display: none;
}

[role="tabpanel"] p {
    margin: 0;
}

/* Animation */

@media (prefers-reduced-motion: no-preference) {
    .magnify-icon,
    .copy-button,
    .anim-show-parent img,
    .anim-show-parent .list-item {
        transition: all 0.2s ease-in;
        scale: calc(0.75 + (var(--shown, 1) * 0.25));
    }

    .anim-show-parent .list-item img {
        scale: 1;
    }
}
