/* Recommended Tools
    Check accessibility for colour combinations
    https://toolness.github.io/accessible-color-matrix/
*/

@font-face {
    font-family: "hyper-reg";
    font-weight: normal;
    font-style: normal;
    src: url("Atkinson-Hyperlegible-Regular-102a.woff2");
    font-display: block;
}

@font-face {
    font-family: "hyper-bold";
    font-weight: bold;
    font-style: normal;
    src: url("Atkinson-Hyperlegible-Bold-102a.woff2");
    font-display: block;
}

:root {
    --fore: #222;
    --fore-headings: #111;
    --aft: #f5f5f8;
    --aft-paper: #fefefe;
    --aft-image: #fefefe;

    --fore-link: #336699;
    --fore-link-alt: #3399ff;
    --aft-link-alt: #e6e6eC;
    
    --fore-head: #efefef;
    --aft-head: #225;
    --fore-link-head: #efefef;

    --heading: #225;

    --fore-breadcrumb: #333;
    --aft-breadcrumb: #e8e8f9;

    --link-head: #efefef;
    --link-alt-head: #efefef;

    --fore-block: #333;
    --aft-block: #f3f3f9;
    --icon-block: #fe117D;

    --fore-table-head: #fdfdfe;
    --aft-table-head: #2F3141;
    --fore-table-row-odd: #333;
    --aft-table-row-odd: #fdfdfe;
    --fore-table-row-even: #333;
    --aft-table-row-even: #f3f5ff;

    --heading-font: 'hyper-bold', sans-serif;
    --content-font: 'hyper-reg', Verdana, Geneva, sans-serif;
    --code-font: Consolas, 'Courier New', Courier, monospace;
    --unicode-font: font-family: "Segoe UI Symbol", "Arial Unicode MS", "DejaVu Sans", "Meiryo UI", "MS UI Gothic", "Everson Mono Unicode", Meiryo, "MS Gothic", "MS Mincho", "MS PGothic", "MS PMincho", "Meslo LG L", "Meslo LG L DZ", "Meslo M L", "Meslo M L DZ", "Meslo S L", "Meslo S L DZ", "Symbola", "DejaVu Sans Condensed", "DejaVu Sans Mono", Code2000, "Everson Mono", Quivira, sans-serif;

    --paragraph-margin: 1.2rem;
    --margin-size: 1rem;
    --margin-size-negative: -1rem;
    --block-gap: 2rem;
    --block-radius: 0.3rem;

    --marker-size: 1.2rem;

    --box-shadow: 0 12px 24px -12px rgb(0 0 0 / 50%);
    --box-shadow-slight: 0 6px 12px -6px rgb(0 0 0 / 40%);

    --box-shadow-unselected: rgb(0 0 0 / 6%) 0px 2px 4px, rgb(0 0 0 / 5%) 0px 0.5px 1px;
    --transform-selected: translate3d(0px, -1px, 0px);

    --content-width: 78vw;
    --navigation-width: 300px;
    --grid-gap: 1rem;
    --grid-max-width: 70rem;
    --grid-width: 90vw;

    /* Calculate the mobile width by removing l/r columns */
    --content-width-mobile: calc(100vw - 4rem);
}

@media (prefers-color-scheme: dark) {
    :root {
        --fore: #CCC;
        --fore-headings: #CDE;
        --aft: #333;
        --aft-paper: #222;
        --aft-image: #DDD;
    
        --fore-link: #6699CC;
        --fore-link-alt: #99CCFF;
        --aft-link-alt: #232323;
        
        --fore-head: #CCC;
        --aft-head: #224;

        --heading: #DDF;

        --fore-breadcrumb: #CCC;
        --aft-breadcrumb: #2C2C2C;

        --link-head: #6699CC;
        --link-alt-head: #99CCFF;

        --fore-block: #CCC;
        --aft-block: #111;
        --icon-block: #FE117D;

        --fore-table-head: #CCC;
        --aft-table-head: #222; 
        --fore-table-row-odd: #CCC;
        --aft-table-row-odd: #333;
        --fore-table-row-even: #CCC;
        --aft-table-row-even: #444;
    }
}
