/* Recommended Tools
    Check accessibility for colour combinations
    https://toolness.github.io/accessible-color-matrix/
*/

@font-face {
    font-family: "akzidenz";
    font-weight: normal;
    font-style: normal;
    src: url("akzidenz-reg.woff");
}

@font-face {
    font-family: "akzidenz-cnd";
    font-weight: normal;
    font-style: normal;
    src: url("akzidenz-cnd.woff");
}

:root {
    --fore: #222;
    --fore-headings: #111;
    --aft: #f5f5f8;
    --aft-paper: #fefefe;
    --aft-image: #fefefe;

    --fore-link: #336699;
    --fore-link-alt: #3366CC;
    --aft-link-alt: #e6e6eC;

    --fore-head: #efefef;
    --aft-head: #225;
    --fore-link-head: #efefef;

    --fore-breadcrumb: #333;
    --aft-breadcrumb: #f3f3f9;

    --link-head: #efefef;
    --link-alt-head: #efefef;

    --fore-block: #333;
    --aft-block: #f3f3f9;
    --icon-block: #fe117D;

    --fore-table-head: #fdfdfe;
    --aft-table-head: #2F3141;
    --fore-table-row-odd: #333;
    --aft-table-row-odd: #fdfdfe;
    --fore-table-row-even: #333;
    --aft-table-row-even: #f3f5ff;

    --heading-font: 'akzidenz-cnd', sans-serif;
    --content-font: 'akzidenz', sans-serif;
    --code-font: Consolas, 'Courier New', Courier, monospace;

    --block-gap: 2rem;
    --block-radius: 0.3rem;

    --marker-size: 1.2rem;
    --paragraph-margin: 1.2rem;

    --box-shadow: 0 12px 24px -12px rgb(0 0 0 / 50%);
    --box-shadow-slight: 0 6px 12px -6px rgb(0 0 0 / 40%);

    --navigation-width: 300px;
    --grid-gap: 1rem;
    --grid-max-width: 60rem;
    --grid-width: 90vw;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fore: #CCC;
        --fore-headings: #CDE;
        --aft: #333;
        --aft-paper: #222;
        --aft-image: #DDD;
    
        --fore-link: #6699CC;
        --fore-link-alt: #99CCFF;
        --aft-link-alt: #232323;
        
        --fore-head: #CCC;
        --aft-head: #222;

        --fore-breadcrumb: #CCC;
        --aft-breadcrumb: #2C2C2C;

        --link-head: #6699CC;
        --link-alt-head: #99CCFF;

        --fore-block: #CCC;
        --aft-block: #111;
        --icon-block: #FE117D;

        --fore-table-head: #CCC;
        --aft-table-head: #222; 
        --fore-table-row-odd: #CCC;
        --aft-table-row-odd: #333;
        --fore-table-row-even: #CCC;
        --aft-table-row-even: #444;
    }
}
